/*Whubs.com - Download Free Responsive Website Layout*/
.circle{
	/*width: 1500px;*/
	margin: 60px auto;

	text-align: center;
	width: 40%;

}

.perc{
	font-size: 25px !important;
}
h1{
	color: #002E63;
	font-size: 50px;
	font-weight: bold;
}
h3{

	font-size: 16px;
	text-align: justify;
	padding: 30px;

}
@media(max-width: 991px){
	.circle{
		margin: 90px auto;
		display: block;
		width: 50%;


}

}
@media(max-width: 767px){
	.circle{
		margin: 60px auto;
    	width: 20%;
       



}

}